body{
    background-color: rgba(0, 0, 255, 0.705);
}
main{
    background-color: white;
    margin: auto;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    padding: 40px;
    
}
h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}
p{
    font-family: Arial, Helvetica, sans-serif;

}
#analis{
    padding-right: 150px;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}